** One Hot Encoding**

A one hot encoding allows the representation of categorical data to be more expressive. Many machine learning algorithms cannot work with categorical data directly. The categories must be converted into numbers. This is required for both input and output variables that are categorical. 

Note: The number of categorical features is less so one-hot encoding can be effectively applied.

To deal with categorial data
1. one hot encoding- One-hot encoding creates new columns indicating the presence (or absence) of each possible value in the original data.
2. label encoding- assigns each unique value to a different integer.

Note: Explaination by kaggle

In [ ]:
# one hot encoding
import pandas as pd
import numpy as np

df=pd.read_csv('/content/Iris.csv', usecols = ['Species'])
df.head()

       Species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [ ]:
## how we see how many unique category are present in  each n every cloumn
for col in df.columns:
  print(col,":",len(df[col].unique()), "labels")

Species : 3 labels

In [ ]:
## lets se how one hot encoding is performed
pd.get_dummies(df,drop_first = True).shape

(150, 2)

Here is less number of feature, what happen when its 500 or more,, for dealing with that we just took 10 or 20 number or on you. by choosing 10 most frequent lables

In [ ]:
## lets take the 10 most frequent categories of the variable Species
df['Species'].value_counts().sort_values(ascending=False).head()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

In [ ]:
## take these 3 as most frequent used
top_3 = [x for x in df['Species'].value_counts().sort_values(ascending=False).head(5).index]  ## .index gives the top 3 categories
top_3

['Iris-virginica', 'Iris-versicolor', 'Iris-setosa']

In [ ]:
## now we will make the 3 binary variable
for label in top_3:
  df[label] = np.where(df["Species"]==label, 1, 0)

df[['Species']+top_3].tail(40)

            Species  Iris-virginica  Iris-versicolor  Iris-setosa
110  Iris-virginica               1                0            0
111  Iris-virginica               1                0            0
112  Iris-virginica               1                0            0
113  Iris-virginica               1                0            0
114  Iris-virginica               1                0            0
115  Iris-virginica               1                0            0
116  Iris-virginica               1                0            0
117  Iris-virginica               1                0            0
118  Iris-virginica               1                0            0
119  Iris-virginica               1                0            0
120  Iris-virginica               1                0            0
121  Iris-virginica               1                0            0
122  Iris-virginica               1                0            0
123  Iris-virginica               1                0            0
124  Iris-virginica               1                0            0
125  Iris-virginica               1                0            0
126  Iris-virginica               1                0            0
127  Iris-virginica               1                0            0
128  Iris-virginica               1                0            0
129  Iris-virginica               1                0            0
130  Iris-virginica               1                0            0
131  Iris-virginica               1                0            0
132  Iris-virginica               1                0            0
133  Iris-virginica               1                0            0
134  Iris-virginica               1                0            0
135  Iris-virginica               1                0            0
136  Iris-virginica               1                0            0
137  Iris-virginica               1                0            0
138  Iris-virginica               1                0            0
139  Iris-virginica               1                0            0
140  Iris-virginica               1                0            0
141  Iris-virginica               1                0            0
142  Iris-virginica               1                0            0
143  Iris-virginica               1                0            0
144  Iris-virginica               1                0            0
145  Iris-virginica               1                0            0
146  Iris-virginica               1                0            0
147  Iris-virginica               1                0            0
148  Iris-virginica               1                0            0
149  Iris-virginica               1                0            0

**Different types of Feature Engineering Encoding Techniques**

1.Nominal Encoding-- no worry for arrangement (one hot encoding,Mean encoding, etc)

2.ordinal Encoding-- depend on rank(arrangement matter's) -- Label encoding, Target guided ordinal encoding