Probability Ratio Encoding

1.Probability of Survived based on Cabin--- Categorical Feature

2. Probability of Not Survived---1-pr(Survived)

3. pr(Survived)/pr(Not Survived)

4. Dictonary to map cabin with probability

5. replace with the categorical feature

In [1]:
import pandas as pd

In [2]:
# Using columns
df=pd.read_csv('titanic.csv',usecols=['Cabin','Survived']) 
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [3]:
### Replacing missing value with by filling with Missing
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [4]:
df['Cabin'].unique() 
# Checking the unique value

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [6]:
df['Cabin']=df['Cabin'].astype(str).str[0]  # taking on the first character of each unique categories 
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [7]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [10]:
# Probabiloty ratio encoding Generally used with target value

# Finding probability
prob_df=df.groupby(['Cabin'])['Survived'].mean()   # says that cabin valued w.r.t survived column

prob_df.head()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
Name: Survived, dtype: float64

In [13]:
# Converting it into dataframe
prob_df=pd.DataFrame(prob_df)
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [14]:
# Getting the probability of died as well

prob_df['Died']=1-prob_df['Survived']

In [15]:
prob_df.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [16]:
# Finding the probability ratio

prob_df['Probability_ratio']=prob_df['Survived']/prob_df['Died']
prob_df.head()

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [17]:
# Now converting this ratio to a dictionary
probability_encoded=prob_df['Probability_ratio'].to_dict()

In [18]:
probability_encoded

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [19]:
# now mapping the data with our data frame

df['Cabin_encoded']=df['Cabin'].map(probability_encoded)
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274

In [20]:
df.head(20)

    Survived Cabin  Cabin_encoded
0          0     M       0.428274
1          1     C       1.458333
2          1     M       0.428274
3          1     C       1.458333
4          0     M       0.428274
5          0     M       0.428274
6          0     E       3.000000
7          0     M       0.428274
8          1     M       0.428274
9          1     M       0.428274
10         1     G       1.000000
11         1     C       1.458333
12         0     M       0.428274
13         0     M       0.428274
14         0     M       0.428274
15         1     M       0.428274
16         0     M       0.428274
17         1     M       0.428274
18         0     M       0.428274
19         1     M       0.428274